
* {
  font-size: 16px;
}

.life-text,
.diff-text{
  font-size: 32px;
}

.dragRect,
.avg-rect {
  cursor: pointer;
}

text {
  user-select: none;
  pointer-events: none;
}

.guessText,
.avg-text,
.resultTexts,
.avg-result-text   {
  fill: #333;
  font-size: 16px;
  font-weight: 300;

}

.country-x-axis text,
.country-y-axis text,
.g7-x-axis text {
    fill: #333;
    font-size: 14px;
}
